<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239155399192-i902hv55bi6sc20ghh8isugnhrsaa8h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239155399192-i902hv55bi6sc20ghh8isugnhrsaa8h5</string>
	<key>API_KEY</key>
	<string>AIzaSyAX4aancNnUxIwQyOykN5i_VAu8qwEclU0</string>
	<key>GCM_SENDER_ID</key>
	<string>239155399192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>krix-d8fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>krix-d8fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239155399192:ios:5a68c0a18eaaeb8175516d</string>
</dict>
</plist>